<footer class="footer-main">
  <div class="container">
    <div class="row">
      
        <div class="full-border"></div>

        
          <div class="col-sm-6 copyright">
            © Сэм А., 2013—2017
            <br>
              Напиши мне письмо на <a href="mailto:hey@samsky.ru">hey@samsky.ru</a> или<br>
              сообщение в <a href="https://www.facebook.com/heysamsky">Facebook</a>.
          </div>

          <div class="col-sm-8 socials">
            
          </div>
  
    </div>
  </div>
</footer>
