<!--header class="site-header">
  
    <div class="container">
      
      <div class="row">
        <h4 class="col-md-4">
          <a href="{{ site.baseurl }}/"><b>Сэм А.</b></a>
        </h4>
        <nav class="col-md-7 nav-head">
          <a href="{{ site.baseurl }}/work/">Work</a>
          <a href="{{ site.baseurl }}/blog/">Blog</a>
        </nav>
        <a href="mailto:me@samsky.ru" class="col-md-1 ru">
          <span>me@samsky.ru</span>
        </a>
      </div>

      
      
    </div>
</header-->

<header>

  <div class="container hdr">
    <a href="/"><img class="sam" src="/images/sam-abdullaev.jpg"></a>
    <h1 style="padding-top: 1.2em; margin-bottom: -0.3em; font-size: 18px;"><a href="/" style="border-bottom: none;">Сэм А.</a></h1>
    <span style="font-size: 14px; margin-top: 0;"><a href="http://samabd.com/">Дизайнер</a> и наблюдатель</span>
  </div>

</header>